<div class="container mt-5">

    <h2 class="text-center text-danger mb-5">
        Admin Dashboard
    </h2>

    <div class="row">

        <div class="col-md-3">

            <div class="card shadow p-4 bg-primary text-white">

                <h4>Total Users</h4>

                <h2>@ViewBag.TotalUsers</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow p-4 bg-success text-white">

                <h4>Total Doctors</h4>

                <h2>@ViewBag.TotalDoctors</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow p-4 bg-warning text-white">

                <h4>Total Predictions</h4>

                <h2>@ViewBag.TotalPredictions</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow p-4 bg-danger text-white">

                <h4>High Risk Cases</h4>

                <h2>@ViewBag.HighRisk</h2>

            </div>

        </div>

    </div>

</div>