@model HeartDiseasePrediction.Models.Doctor

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <div class="card shadow p-4">

                <h2 class="text-center text-primary mb-4">
                    Doctor Registration
                </h2>

                <form method="post">

                    <div class="mb-3">
                        <label>Doctor Name</label>
                        <input asp-for="DoctorName"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input asp-for="Email"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Hospital Name</label>
                        <input asp-for="HospitalName"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Specialization</label>
                        <input asp-for="Specialization"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Mobile Number</label>
                        <input asp-for="MobileNo"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Experience</label>
                        <input asp-for="Experience"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        <input asp-for="Password"
                               type="password"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Confirm Password</label>
                        <input type="password"
                               name="ConfirmPassword"
                               class="form-control" />
                    </div>

                    <button type="submit"
                            class="btn btn-primary w-100">

                        Register

                    </button>

                </form>

                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger mt-3">
                        @ViewBag.Message
                    </div>
                }

            </div>

        </div>

    </div>

</div>