<div class="container mt-5">

    <div class="card shadow p-5 text-center">

        <h1 class="text-success">
            Welcome @Context.Session.GetString("UserName")
        </h1>

        <p class="lead mt-3">
            User Dashboard
        </p>

    </div>

</div>